body {
    overflow-x: hidden;
    margin-bottom: 25px;
}

form {
    position: absolute;
    top: 180px;
    left: 29%;
    background-color: white;
    padding: 10px;
    color: white;
    border: 3px solid #146BAA; 
    border-radius: 25px;
    z-index: 1;
}

input[type="text"] {
    width: 700px;
    height: 25px;
    /* flex-shrink: 0; */
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #146BAA;
    background-color: white;
    z-index: 1;
}

.search::placeholder {
    color: #146BAA;
    z-index: 1;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

#home,
#home-icon {
    position: fixed;
    top: 6px;
    right: 143px;
    z-index: 2;
    width: 50px;
    height: 50px;
}

#account, 
#account-icon {
    position: fixed;
    top: 9px;
    right: 85px;
    z-index: 2;
    width: 45px;
    height: 45px;
}

#options,
#options-icon {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}


.blue-rectangle {
    position: absolute;
    top: 70px;
    left: 175px;
    width: 1230px;
    height: 70px;
    border-radius: 30px;
    background-color: #146BAA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricesearch-text {
    position: absolute;
    color: #FFD448;
    font-family: 'Saira Condensed';
    font-size: 54px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
}

.food-section-containers {
    display: flex;
}

#dairy-container {
    position: absolute;
    top: 324px;
    left: 90px;
    width: 100%;
    height: 360px;
    display: flex;
}

.dairy-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
    background: url('dairy-products.jpeg') no-repeat center center / cover;
}


#dairy-products {
    display: none;
}

#dairy-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#fruit-container {
    position: absolute;
    top: 324px;
    left: 575px;
    width: 100%;
    height: 360px;
    display: flex;
}

.fruit-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('fruits.jpg') no-repeat center center / cover;
}

#fruits {
    display: none;
}

#fruits-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#vegetable-container {
    position: absolute;
    top: 324px;
    left: 1060px;
    width: 100%;
    height: 360px;
    display: flex;
}

.vegetable-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('vegetables.jpg') no-repeat center center / cover;
}

#vegetables {
    display: none;
}

#vegetables-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#meat-container {
    position: absolute;
    top: 760px;
    left: 90px;
    width: 100%;
    height: 360px;
    display: flex;
}

.meat-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('meats.jpg') no-repeat center center / cover;
}

#meat {
    display: none;
}

#meat-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#bread-container {
    position: absolute;
    top: 760px;
    left: 575px;
    width: 100%;
    height: 360px;
    display: flex;
}

.bread-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('bread.jpg') no-repeat center center / cover;
}

#bread {
    display: none;
}

#bread-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#frozen-food-container {
    position: absolute;
    top: 760px;
    left: 1060px;
    width: 100%;
    height: 360px;
    display: flex;
}

.frozen-food-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('frozen-foods.png') no-repeat center center / cover;
}

#frozen-food {
    display: none;
}

#frozen-food-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#personal-care-container {
    position: absolute;
    top: 1196px;
    left: 90px;
    width: 100%;
    height: 360px;
    display: flex;
}

.personal-care-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('personal-care-products.jpg') no-repeat center center / cover;
}

#personal-care {
    display: none;
}

#personal-care-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#health-care-container {
    position: absolute;
    top: 1196px;
    left: 575px;
    width: 100%;
    height: 360px;
    display: flex;
}

.health-care-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('healthcare-products.jpeg') no-repeat center center / cover;
}

#health-care {
    display: none;
}

#health-care-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#cleaning-container {
    position: absolute;
    top: 1196px;
    left: 1060px;
    width: 100%;
    height: 360px;
    display: flex;
}

.cleaning-rectangle {
    width: 380px;
    height: 360px;
    border-radius: 30px;
    border: 3px solid #146BAA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    background: url('cleaning-supplies.jpg') no-repeat center center / cover;
}

#cleaning {
    display: none;
}

#cleaning-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}
